<section class="section cta py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6">
        {{ with .content.title }}
          <h3 class="fs-1 fw-semibold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
        {{ with .content.text }}
          <p class="text-black-61 text-center pb-3">{{ . }}</p>
        {{ end }}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center">
        {{ with .content.image }}{{ partial "utilities/image-fluid.html" . }}{{ end }}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center">
          {{ partial "shared/calendly.html" . }}
      </div>
    </div>
  </div>
</section>
