<section class="section testimonials py-5">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-12 col-xl-6">
          {{ with .content.title }}
            <h3 class="fs-1 fw-semibold text-center text-primary pb-3">{{ . }}</h3>
          {{ end }}
        {{ with .content.text }}
          <p class="text-black-61 text-center pb-3">{{ . }}</p>
        {{ end }}
      </div>
    </div>
    <div class="row gy-4">
      {{ range $i, $e := .content.list }}
        <div class="col-12 col-xl-4">
          <div class="card border-0 border-radius-34 p-4">
            {{ with $e.image }}
              {{ partial "utilities/image-fluid.html" $e.image }}
              <div class="card-body">
                  <p class="card-text text-black-61 mb-4">"{{ $e.text }}" </p>
                  <p class="text-primary">- {{ $e.client }}</p>
              </div>
            {{ else }}
              <div class="card-body">
                {{ $colors := (slice "bg-green" "bg-yellow" "bg-red" "bg-purple") }}
                <div class="{{ index $colors (mod $i 4) }} rounded-circle size-90 mb-4"></div>
                <p class="card-text text-black-61 mb-4">"{{ $e.text }}" </p>
                <p class="text-primary">- {{ $e.client }}</p>
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
